#navbar {
  display: flex;
  background: black;
  margin-bottom: 0px;
  box-shadow: 0px 5px 15px 5px #000;
  padding: 0px 20px 0px 20px;
  z-index: 10;
}

#navbar ul {
  display: flex;
  gap: 1.5em;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

#navbar ul li {
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Josefin Sans';
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  transition-duration: 0.5s;
  padding: 20px;
}

#navbar ul li:nth-child(5) {
  margin-left: auto;
  color: #ffe81f;
  text-align: right;
}

.dialogContent {
  width: 40vw;
  padding-block: 50px;
  padding-inline: 100px;
  font-size: 1rem;
  font-family: 'Montserrat';
  font-weight: 400;
  color: white;
  background-color: black;
  text-align: justify;
  text-align-last: center;
}

.dialogContent a {
  text-decoration: underline;
  text-decoration-style: dotted;
  margin: 5px;
}

.dialogContent h1 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
}

.dialogContent p:last-of-type {
  border-top: 1px dotted white;
  padding: 20px;
  padding-bottom: 0;
  font-size: 0.7rem;
}

@media screen and (max-width: 1600px) {
  .dialogContent {
    width: 70vw;
  }
}

@media screen and (max-width: 1000px) {
  #navbar ul li {
    padding-inline: 1px;
  }

  #navbar ul {
    gap: 5px;
  }

  #navbar div:nth-child(1) {
    display: none;
  }

  .dialogContent p {
    font-size: 0.7rem;
  }

  .dialogContent {
    max-height: 90vh;
  }
}

@media screen and (max-width: 700px) {
  .dialogContent {
    padding-block: 50px;
    padding-inline: 30px;
  }
}

@media screen and (max-width: 500px) {
  #navbar ul li {
    font-size: 0.75rem !important;
  }
  .dialogContent p {
    font-size: 0.5rem !important;
  }
}
