#viewer {
  margin: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 100px;
}

.viewerContainer {
  min-height: 100vh;
  z-index: 1;
}

#moduleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.cardUnfinished,
.cardFinished {
  margin: auto;
  width: 100%;
  max-width: 95vw;
  position: relative;
  padding-bottom: 30px;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 25px;
  display: grid;
}

.canonicityTrue {
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.25), inset 0px 0px 1px 5px rgba(0,0,0,1);
}

.canonicityTrue .finishedBtn {
  color: white;
  background-color: black;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.canonicityFalse {
  box-shadow: 0px 0px 25px 1px rgba(0,0,0,0.25), inset 0px 0px 1px 5px #ffe81f;
}

.canonicityFalse .finishedBtn {
  color: black;
  background-color: #ffe81f;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.titleDiv {
  padding-block: 10px;
}

.titleDiv h2 {
  display: none;
}

.titleDiv p {
  margin-bottom: 0 !important;
  padding: none;
}

.canonicityTrue .titleDiv {
  background-color: black;
  color: white;
  border-inline: 5px solid black;
}

.cardFinished.canonicityTrue .titleDiv {
  background-color: white;
}

.cardFinished.canonicityTrue .titleDiv p{
  color: black;
}

.canonicityFalse .titleDiv {
  background-color: #ffe81f;
}

.canonicityFalse .titleDiv p {
  color: black;
}

.cardUnfinished .finishedBtn:before {
  content: '✔ '
}

.cardFinished .finishedBtn:before {
  content: '✗ '
}

.cardUnfinished h2,
.cardUnfinished p,
.cardFinished h2,
.cardFinished p {
  padding-inline: 25px;
  font-size: 0.9rem;
}

.cardUnfinished h2,
.cardFinished h2 {
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: gray;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cardUnfinished p,
.cardFinished p {
  font-family: 'Montserrat';
  font-weight: 900 !important;
  text-transform: uppercase;
  margin-top: 0;
  line-height: 100%;
}

.cardFinished {
  background: black;
}

.cardUnfinished {
  background: white;
}

.cardFinished p {
  color: white;
}

.entryCard {
  box-shadow: 1px 1px 5px 1px #fff;
}

.cardFinished button {
  background: white;
  color: rgb(0, 0, 0);
}

.coverImageContainer {
  width: 100px;
  height: 100% !important;
  margin: 25px;
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  display: grid;
}

.coverImage {
  box-shadow: 0px 0px 15px 0px #000000;
  width: 100%;
  object-fit: cover;
  margin: auto;
  transition: all 0.5s ease;
  margin-block: 10px;
  z-index: 1000;
  cursor: zoom-in;
}

.coverImage:hover {
  transition-delay: 0.5s;
  transform: scale(3) translateX(-2.1rem);
}

.linksContainer {
  text-align: center;
}

.finishedBtn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

.legendsDiv,
.canonDiv {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 20px;
  padding: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.legendsDiv {
  background: black;
  box-shadow: inset 0px 0px 0px 5px #ffe81f, 0px 0px 0px 1px #ffe81f;
}

.legends {
  color: #ffe81f;
}

.canonDiv {
  background: white;
}

.canonDiv {
  box-shadow: inset 0px 0px 0px 5px #000;
}

#sortContainer {
  display: flex;
  padding: 20px;
  margin: 20px;
  max-width: 95vw;
}

#sortContainer button {
  border: none;
  background: none;
  font-family: 'Josefin Sans';
  cursor: pointer;
}

#filterContainer {
  padding: 20px;
  margin: 20px;
  display: flex;
}

#filterbox {
  padding: 20px;
  background-color: black;
}

#filterbox * {
  color: white;
  border-color: white;
  font-family: 'Montserrat';
}

#filterbox h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 900;
}

#filterResetBtnContainer {
  margin-top: 10px;
}

#sortContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-block: 20px;
}

.filtersContainer {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  background-color: black;
  box-shadow: 0px 0px 15px 0px black;
  padding: 20px;
  padding-inline: 40px;
  border: 3px solid black;
}

.filtersContainer > .Mui-focused label,
.filtersContainer > .MuiInputLabel-root,
.filtersContainer > .Mui-focused,
.filtersContainer > .MuiOutlinedInput-root fieldset {
  color: black;
  border-color: black;
}

.filterDiv {
  width: 25%;
}

.description {
  font-family: 'Montserrat';
  margin-inline: 25px;
  line-height: 1;
  text-align: justify;
  font-size: 12px;
  font-weight: 400 !important;
  text-transform: none;
}

.descriptionButtonContainer {
  width: 100%;
  display: flex;
  margin-block: 15px;
  padding-block: 10px;
  cursor: pointer;
  margin-top: auto;
  align-items: center;
  justify-content: center;
}

.canonicityTrue .descriptionButtonContainer {
  background-color: black;
  color: white;
}

.canonicityFalse .descriptionButtonContainer {
  background-color: #ffe81f;
  color: black;
}

.descriptionLabel {
  font-family: 'Montserrat';
  padding-block: 0;
  margin-block: 0;
  line-height: 1;
  margin-left: 25px;
  font-size: 13px;
  text-transform: uppercase;
  margin-inline: auto;
}

.descriptionButtonContainer svg {
  font-size: 11px;
  width: 11px;
  height: auto;
}

.descriptionContainer div {
  max-width: 55vw;
  background-color: black;
}

.descriptionText, .descriptionWarning {
  color: white;
  font-family: 'Montserrat';
  text-align: justify;
  line-height: 1.2;
  font-size: 1rem;
  padding: 25px;
  hyphens: auto;
}

.descriptionWarning {
  color: white;
  padding-bottom: 0;
  text-align: center;
  color: #cccccc;
  font-size: 0.75rem;
}

@media screen and (max-width: 1500px) {
  #moduleContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  #moduleContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  #moduleContainer {
    grid-template-columns: 1fr;
  }

  .descriptionContainer div {
    max-width: 95vw;
    background-color: black;
  }

  .descriptionDialogTitle {
    padding-inline: 30px !important;
    font-size: 0.8rem;
    line-height: 1 !important;
  }

  .descriptionText {
    line-height: 1.25;
    font-size: 0.75rem;
    padding: 10px;
  }

  .descriptionWarning {
    padding: 10px;
    font-size: 0.7rem;
  }
  
}

@media screen and (max-width: 900px) {
  #moduleContainer {
    grid-template-columns: 1fr;
  }

  #viewer {
    margin: 0;
  }

  #sortContainer {
    width: auto;
    margin: auto;
  }

  .filtersContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .searchbar {
    width: 90% !important;
    margin-inline: auto !important;
    padding-left: 0 !important;
    margin-block: 20px;
  }

  .searchbar > div {
    width: 100% !important;
  }

  .autocomplete {
    margin-left: 0 !important;
  }

  .filterDiv {
    width: auto;
    margin-inline: auto !important;
  }

  .sortByDropdown {
    width: 90%;
    margin-inline: auto !important;
  }

  .sortByDropdown > div {
    width: 100%;
  }
}
