#viewer {
  margin: 100px;
  margin-top: 0;
}

.viewerContainer {
  min-height: 100vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.25);
}

#moduleContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.cardUnfinished,
.cardFinished {
  margin: auto;
  width: 100%;
  max-width: 95vw;
  border: 1px solid black;
  position: relative;
  padding-bottom: 30px;
}

.cardUnfinished h2,
.cardUnfinished p,
.cardFinished h2,
.cardFinished p {
  margin-left: 20px;
  padding-inline: 10px;
}

.cardUnfinished h2,
.cardFinished h2 {
  font-size: 1rem;
  font-family: 'Josefin Sans';
  font-weight: 300;
  color: gray;
  text-transform: capitalize;
  margin-bottom: 0;
}

.cardUnfinished p,
.cardFinished p {
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 0;
  min-height: 2rem;
}

.cardFinished {
  background: black;
}

.cardUnfinished {
  background: white;
}

.cardFinished p {
  color: white;
}

.entryCard {
  box-shadow: 1px 1px 5px 1px #fff;
}

.cardFinished button {
  background: white;
  color: rgb(0, 0, 0);
  border: 1px solid white;
}

.coverImageContainer {
  width: 100px;
  height: 100% !important;
  margin: 20px;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  display: grid;
}

.coverImage {
  box-shadow: 0px 0px 15px 0px #000000;
  width: 100%;
  object-fit: cover;
  margin: auto;
  transition: transform 0.5s ease;
  margin-block: 10px;
  z-index: 1000;
}

.coverImage:hover {
  transition-delay: 0.5s;
  transform: scale(4);
}

.linksContainer {
  text-align: center;
}

.finishedBtn {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  z-index: 1;
}

.legendsDiv,
.canonDiv {
  width: 100%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 30px;
  padding: 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.legendsDiv {
  background: black;
  box-shadow: inset 0px 0px 0px 5px #ffe81f, 0px 0px 0px 1px #ffe81f;
}

.legends {
  color: #ffe81f;
}

.canonDiv {
  background: white;
}

.canonDiv {
  box-shadow: inset 0px 0px 0px 5px #000;
}

#sortContainer {
  display: flex;
  padding: 20px;
  margin: 20px;
  max-width: 95vw;
}

#sortContainer button {
  border: none;
  background: none;
  font-family: 'Josefin Sans';
  cursor: pointer;
}

#filterContainer {
  padding: 20px;
  margin: 20px;
  display: flex;
}

#filterbox {
  padding: 20px;
}

#filterbox h3 {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 900;
}

#filterResetBtnContainer {
  margin-top: 10px;
}

#sortContainer {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-block: 20px;
}

.filtersContainer {
  display: flex;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0px 0px 15px 0px black;
  padding: 20px;
  padding-inline: 40px;
  border: 3px solid black;
  border-radius: 150px;
}

@media screen and (max-width: 1500px) {
  #moduleContainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  #moduleContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1000px) {
  #moduleContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  #moduleContainer {
    grid-template-columns: 1fr;
  }

  #viewer {
    margin: 0;
  }

  #sortContainer {
    width: auto;
    margin: auto;
  }

  .filtersContainer {
    display: grid;
    grid-template-columns: 1fr;
  }

  .searchbar {
    width: 50vw;
    margin-right: auto !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  .autocomplete {
    margin-left: 0 !important;
  }

  .filterDiv {
    margin-left: 0 !important;
    margin-right: auto !important;
  }

  .sortByDropdown {
    width: 50vw;
    margin-right: auto !important;
    margin-left: 0 !important;
  }
}
