.timelineWarningContainer {
  width: 100%;
  max-width: 95vw;
  margin-inline: auto;
  background-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 15px 0px black;
  padding: 20px;
  color: white;
  font-family: "Montserrat";
  padding-right: 2.5rem;
  margin-bottom: 20px;
}

.timelineWarningContainer b {
  font-weight: 900;
  color: #ffe81f;
  margin-left: 2.5rem;
}

.timelineWarningContainer ul {
  list-style-type: none;
}

.timelineWarningContainer li {
  margin-block: 10px;
}

.timelineWarningContainer li svg {
  width: 1rem;
}


@media screen and (max-width: 900px) {
  .timelineWarningContainer {
    font-size: 0.75rem;
  }

  .timelineWarningContainer li svg {
    width: 0.75rem;
  }

  .timelineWarningContainer b {
    margin-left: 15px;
  }

  .timelineWarningContainer ul {
    padding-left: 15px;
    text-align: justify;
    hyphens: auto;
  }
}
